/* stylin' */

/* ======================================
Google fonts for reference:
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto Mono', monospace;
====================================== */


/* ======================================
 Tag Data
 ====================================== */
 /* The styles for the parallax */
 .hero {
    position: relative;
    height: 550px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("../images/prepbackground4.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }
  .hero h1 {
    font-size: 180px;
    margin-top: 100px;
    font-weight: bold;
    animation: title 1.2s forwards linear;
    color: rgb(235, 45, 31)
  }

 body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(235, 235, 240, .9);
 }
 
 h1 {
     font-family: 'Lato', sans-serif;
     font-weight: bold;
     font-size: 50px;
     color: rgb(51, 8, 245);
 }
 
 h2 {
     font-family: 'Roboto Mono', monospace;
     font-size: 30px;
     text-align: center;
     font-weight: bold;
     color: rgb(235, 45, 31);
 }
 
 h3 {
     font-family: 'Roboto', sans-serif;
     font-size: 30px;
     text-align: center;
     color: rgb(34, 33, 33);
     
 }
 
 h4 {
     font-family: 'Roboto Mono', monospace;
     font-size: 20px;
     text-align: center;
     font-weight: bold;
     color: rgb(235, 45, 31);
 }
 
 h5 {
     font-family: 'Lato', sans-serif;
     font-size: 45px;
     text-align: center;
     font-weight: bold;
     color: rgb(72, 209, 204);
     padding: 25px
 }
 
 p {
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     text-align: left;
     color: rgb(34, 33, 33);
     display: block;
     margin: 10px;
     line-height: 2em;
 }
 
 button {
     height: 40px; 
     width: 150px; 
     display: block; 
     margin: 0 auto;
     color: rgb(31, 30, 30) !important;
     font-family: 'Roboto', sans-serif;
     font-size: 18px;
     text-align: center;
     font-weight: bold;
 }
 
 /* ======================================
  Class Data
  ====================================== */
 
 .team-name {
     font-family: 'Roboto Mono', monospace !important;
     font-size: 24px;
     font-weight: bold;
     color: rgb(235, 45, 31) !important;
 }
 
 .comment {
     font-family: 'Roboto', sans-serif !important;
     font-size: 16px;
     font-style: italic !important;
     text-align: center !important;
     color: rgb(65, 63, 63);
     display: block;
     margin: 10px;
     line-height: 2em;
 }
 
 .button {
     background-color: rgb(194, 194, 194); 
     border: none;
     color: rgb(31, 30, 30) !important;
     font-family: 'Roboto', sans-serif !important;
     font-size: 16px;
     padding: 15px 32px;
     text-align: center;
     /* text-decoration: none; */
     display: inline-block;
     font-size: 16px;
   }
 
 /* .input-group-btn {
     background-color: rgb(194, 194, 194); 
     border: none;
     color: white;
     font-family: 'Roboto', sans-serif !important;
     font-size: 16px;
     padding: 15px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
   } */
 
 /* overlay an opaque dark color so the text will still show up */
 .jumbotron {
     font-family: 'Lato', sans-serif;
     font-size: 50px;
     color: whitesmoke;
     background-size: cover;
     min-height: 350px;
     margin: 0px;
     position: relative;
 }
 
 .jumbotron > .overlay {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-color: rgba(8, 9, 58, 0.5);
     z-index: 1;
 }
 
 .jumbotron > .inner {
     position: relative;
     z-index: 2;
 }
 
 
 
 
 
 .h3-white {
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     text-align: center;
     color: whitesmoke;
     padding:30px;
 }
 
 .whitespace {
     padding: 30px;
 }
 
 .blockquote {
     padding: 0.5rem 1rem;
     margin-bottom: 2rem;
     font-size: 1rem;
     border-left: 7px solid rgb(235, 45, 31);
 }
 
 .well {
     background-color: rgba(255, 255, 255, .5) !important;
 }
 
 .whiteB {
     background-color: whitesmoke;
 }
 
 .footer {
     background-color:rgb(8, 9, 58);
     color:whitesmoke;
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     text-align: center;
     padding: 20px;
 }
 
 .form-group {
     background-color: rgba(255, 255, 255, .5);
 }
 
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
   width: 60%;
   margin: auto;
 }
 
 .bg-light {
     background-color: #f8f9fa !important;
   }
   
 a.bg-light:hover, a.bg-light:focus,
 button.bg-light:hover,
 button.bg-light:focus {
 background-color: #dae0e5 !important;
 }
 
 /* ======================================
 Styling for the navigate section
 ====================================== */
 #services {
     background-color:  rgb(235, 45, 31);
     padding-top: 50px;
     padding-bottom: 50px;
     color: whitesmoke;
 }
 
 .service-heading {
   margin: 15px 0;
   text-transform: none;
   color: whitesmoke;
 }
 
 .fa-stack {
     display: inline-block;
     height: 2em;
     line-height: 2em;
     position: relative;
     vertical-align: middle;
     width: 2.5em; 
 }
   
 .fa-stack-1x,
 .fa-stack-2x {
     left: 0;
     position: absolute;
     text-align: center;
     width: 100%; 
 }
 
 .fa-stack-1x {
     line-height: inherit; 
 }
 
 .fa-stack-2x {
     font-size: 2em; 
 }
 
 .fa-inverse {
     color: #fff; 
 }
 
 .text-muted {
     color: rgb(3, 3, 3);
 }
 


 
 /* ======================================
  ID Data
  ====================================== */
 
 /* Style the navbar */
 #navbar {
   background-color: white;
   border-bottom: 1px;
   margin-bottom: 0px;
 }
 
 /* Navbar links */
 #navbar a {
   float: left;
   display: block;
   text-align: center;
   padding: 14px;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   color: rgb(34, 33, 33);
 }
 
 #radar {
     background-color: rgba(255, 255, 255, .5);
     padding: 30px;
     margin:10px;
     border: .5px solid black;
     outline-style: solid;
     outline-color: rgba(148, 147, 147,0);
 }
 
 #barGraph {
     background-color: rgba(255, 255, 255, .5);
     padding: 30px;
     margin:10px;
     border: .5px solid black;
     outline-style: solid;
     outline-color: rgba(148, 147, 147,0);
 }
 
 #heatmap {
     height: 650px;
     border: .5px solid black;
     outline-style: solid;
     outline-color: rgba(148, 147, 147,0);
 }
 
 
 #income-gauge {
     font-size: 0.8em !important;
     color: black
 }
 /* CSS from the Leaflet-Choropleth documentation */
.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1B283A;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
 
.legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
}
  
.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}
  
.legend .min {
    float: left;
    padding-bottom: 5px;
}
  
.legend .max {
    float: right;
}
 
 #PopSlider .slider-selection {
     background: #fdba9f;
 }
 
 #PopSlider .slider-handle {
     background: #eb2d1f;
 }
 
 #SpendSlider .slider-selection {
     background: #fdba9f;
 }
 
 #SpendSlider .slider-handle {
     background: #eb2d1f;
 }
 
 /* ======================================
  Tooltips
  ====================================== */
 
 a.tooltip {outline:none; }
 a.tooltip strong {line-height:30px;}
 a.tooltip:hover {text-decoration:none;} 
 a.tooltip span {
     z-index:10;display:none; padding:14px 20px;
     margin-top:60px; margin-left:-160px;
     width:300px; line-height:16px;
 }
 a.tooltip:hover span{
     display:inline; position:absolute; 
     border:2px solid #FFF;  color:#EEE;
     background:rgb(83, 248, 243) url(http://www.menucool.com/tooltip/cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
 }
 
 .callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
     
 /*CSS3 extras*/
 a.tooltip span
 {
     border-radius:2px;        
     box-shadow: 0px 0px 8px 4px #666;
     /*opacity: 0.8;*/
 }
 
 /* 
 ######################
     Fancy gauges 
 ###################### 
 */
 .wrapper {
     position: relative;
     width: 100%;
     height: 380px;
 }
 
 .box {
     width: 100%;
 }
 
 .gauge {
     width: 100%;
     height: 240px;
 }
 
 .flexbox {
     display: flex;
     flex-wrap: wrap;
 }
 
 .flexbox>div {
     flex: 1 0 300px;
 }
 
 /* 
 ######################
 Info box under gauges 
 ###################### 
 */
 .info-box {
     padding: 15px;
     margin: 8px;
     background-color: #8d8e913b;
     font-family: 'Roboto', sans-serif;
     text-align: center;
     font-size: 16px;
     color: rgb(34, 33, 33);
     display: block;
     line-height: 1.5em;
 }
 
 
 /* 
 ######################
     `Sliders 
 ###################### 
 */
 .slidecontainer {
 width: 100%; /* Width of the outside container */
 }
 
 /* The slider itself */
 .slider {
 -webkit-appearance: none;  /* Override default CSS styles */
 /* appearance: none; */
 width: 100%; 
 height: 6px; 
 border-radius: 4px; /* for round slider */
 background: #929292;
 outline: none;
 opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
 -webkit-transition: .2s; /* 0.2 seconds transition on hover */
 transition: opacity .2s;
 }
 
 /* Mouse-over effects */
 .slider:hover {
 opacity: 1; /* Fully shown on mouse-over */
 }
 
 /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
 .slider::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
 appearance: none;
 width: 30px; /* Set a specific slider handle width */
 height: 30px; /* Slider handle height */
 /* border: 0; */
 background-size: 30px;
 background-repeat: no-repeat;
 cursor: pointer; /* Cursor on hover */
 }
 
 .slider::-moz-range-thumb {
 width: 30px; /* slider handle width */
 height: 30px; /* Slider handle height */
 /* border: 0; */
 background-size: 30px;
 background-repeat: no-repeat;
 cursor: pointer; /* Cursor on hover */
 }

 